beautifulsoup4==4.12.3
Flask==3.1.0
Flask-Bootstrap==3.3.7.1
html5lib==1.1
openpyxl==3.1.5
pandas==2.2.2
python-dateutil==2.9.0.post0
python-engineio==4.9.1
python-socketio==5.11.4
requests==2.32.3
yfinance==0.2.41
zipp==3.21.0
streamlit==1.58.0